<form action="event-details/<%=event.id%>" class="" method="POST">
    <div class="h-auto w-full cursor-pointer">
        <div class="h-52 w-full">
            <img class="h-full w-full" href=""
                src="https://joytothehomejournal.com/wp-content/uploads/2017/04/monellolandscape-1280x640.jpg"
                alt="">
        </div>
        <div class="h-auto w-full pl-3">
            <p class="font-mainFont font-semibold mt-3">event.name</p>
            <p class="font-mainFont font-light text-xs mt-1">Thu, 15th July 2021</p>
            <p class="font-mainFont font-light text-xl mt-1 my-8">Free</p>
        </div>
    </div>
</form>